.registration {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 470px;
    width: 100%;
    padding: 71px 0 68px;

    @media (max-width:960px) {
      max-width: 350px;
    }

    @media (max-width:640px) {
      max-width: 400px;
    }

    @media (max-width:480px) {
      max-width: 100%;
    }
  }

  &__logo {
    margin-bottom: 57px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 12px;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(60, 60, 67, 0.6);
    margin-bottom: 6px;
    white-space: nowrap;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 24px;
    width: 100%;
  }

  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;

    &--small {
      max-width: 225px;

      @media (max-width:960px) {
        max-width: 165px;
      }

      @media (max-width:640px) {
        max-width: 190px;
      }

      @media (max-width:480px) {
        max-width: 100%;
      }
    }

    &--full {
      max-width: 100%;
    }
  }

  &__input {
    padding: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;

    &::placeholder {
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;

      color: rgba(0, 0, 0, 0.26);
    }
  }

  &__label-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(60, 60, 67, 0.6);
    padding-top: 6px;
  }

  &__text {
    margin: 0 auto;
    font-size: 15px;
    line-height: 18px;
    color: rgba(60, 60, 67, 0.6);

    @media (max-width:960px) {
      font-size: 17px;
    }

  }

  &__link {
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 122, 255, 1);
  }

  &__terms {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 18px;
    margin-bottom: 30px;

    .registration__text {
      font-size: 15px;
    }
  }

  &__checkbox {
    margin: 0;
    margin-right: 12px;
  }

  &__triger {
    width: 100%;
    text-align: center;
  }

  &__btn {
    border: none;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    padding: 4px 14px;
    color: #FFFFFF;
  }
}