.registration {
  min-height: 100vh;
  display: flex;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 470px;
    width: 100%;
    padding: 71px 0 68px;

    @media (max-width:960px) {
      max-width: 350px;
    }

    @media (max-width:640px) {
      max-width: 400px;
    }

    @media (max-width:480px) {
      max-width: 100%;
    }
  }

  &__logo {
    margin-bottom: 58px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 12px;
    letter-spacing: -.7px;

    @media (max-width:480px) {
      font-size: 25px;
      line-height: 30px;
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(60, 60, 67, 0.6);
    margin-bottom: 6px;
    white-space: nowrap;
    letter-spacing: -.2px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 22px;
    width: 100%;
  }

  &__label {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 30px;
    }

    &--small {
      max-width: 225px;

      @media (max-width:960px) {
        max-width: 165px;
      }

      @media (max-width:640px) {
        max-width: 190px;
      }

      @media (max-width:480px) {
        max-width: 100%;
      }
    }

    &--full {
      max-width: 100%;
    }
  }

  &__input {
    padding: 14px 12px 13px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;

    &::placeholder {
      font-weight: 400;
      font-size: 17px;
      line-height: 20px;
      letter-spacing: -.2px;

      color: rgba(0, 0, 0, 0.26);
    }
  }

  &__label-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: rgba(60, 60, 67, 0.6);
    padding-top: 6px;
    letter-spacing: -.2px;
  }

  &__text {
    margin: 0 auto;
    font-size: 15px;
    line-height: 18px;
    color: rgba(60, 60, 67, 0.6);
    letter-spacing: -.2px;

    @media (max-width:960px) {
      font-size: 17px;
      letter-spacing: -.1px;
    }

  }

  &__link {
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 122, 255, 1);
  }

  &__terms {
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 18px;
    margin-bottom: 30px;

    @media (max-width:960px) {
      padding-top: 30px;
      margin-bottom: 31px;
    }

    .registration__text {
      font-size: 15px;
      letter-spacing: -.3px;
    }
  }

  &__checkbox {
    width: 14px;
    height: 14px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    margin-right: 12px;

    &.active {
      background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
      position: relative;

      &::after {
        content: '';
        width: 10px;
        height: 10px;
        background-image: url('../../images/icons/checkmark.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        left: calc(50% - 5px);
        top: calc(50% - 5px);
      }
    }
  }

  &__triger {
    width: 100%;
    text-align: center;
  }

  &__btn {
    border: none;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    padding: 4px 14px 3px;
    color: #FFFFFF;
  }
}