@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  src: local('SF UI Display Regular'), url('sf-ui-display-regular.woff') format('woff');
}
@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 500;
  src: local('SF UI Display Medium'), url('sf-ui-display-medium.woff') format('woff');
}

@font-face {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  src: local('SF UI Display Semibold'), url('sf-ui-display-semibold.woff') format('woff');
}